<div class="footer">
  Total Active Journals: <%= user.active_journals.count %>
  &nbsp; &nbsp; &nbsp; &nbsp;
  Total Completed Journals: <%= user.completed_journals.count %>
  &nbsp; &nbsp; &nbsp; &nbsp;
  Total Posts: <%=user.number_of_posts %> 
  &nbsp; &nbsp; &nbsp; &nbsp;
</div>  