  <div class="col-md-4" id="overall-weight-stats">
    <h3><%= image_tag("avocado.png", :id => "avocado") %>weight stats:</h3>
    <% if user.total_weight_loss > 0 %>
      Total Lost: <%= user.total_weight_loss %> lbs! 
    <% elsif user.total_weight_loss < 0 %>
      Total lbs gained: <%= user.total_weight_loss.abs %>
    <% else %>
      No weight loss!
    <% end %>
    <br>
    Weight Goals Achieved: <%= user.goals_achieved %>
  </div>