<h4>User login: joe@example.com // User pw: example</h4>

<div class="rickross">
    <%= image_tag("rick_ross.jpg", :id => "rick_ross") %>
</div>

<div class="rickross_text">
<h2>"Together we can."</h2>
</div>