<div class="parent">
    <%= image_tag("rick_ross.jpg", :id => "rick_ross") %>
</div>

<div style="color:red" align="center" font-style="italic;">
<h2>"Nothing tastes as good as skinny feels."</h2>
</div>