<div class="col-md-6"> 
  <h2>feelings:</h2>
  <strong>Most felt feeling(s):</strong>
    <% most_popular_feeling.map do |f| %><br>
    <%= f %>
  <% end %>

<br><br>

  <strong>Total List of Feelings:</strong>  
    <% weight_journal.feelings_listed_in_order.map do |k, v| %>
    <br><%= k.capitalize %> : <%= v %> time(s) 
  <% end %>
</div>
